body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
 }
.headerWay {
  height: 10vh;
}
.cardWay {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: auto;
}